<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blatter.network.mapper.AttributeMapper">

  <select id="findAll" resultType="Attribute">
    SELECT * FROM t_attribute;
  </select>
  <select id="findById" resultType="Attribute">
    SELECT * FROM t_attribute where element_id=#{element_id};
  </select>
<!--  <select id="setElement" resultType="Attribute">-->
<!--    update t_element set name=#{name} where id=#{id};-->
<!--  </select>-->
<!--  <select id="addElement" resultType="Attribute">-->
<!--    insert into t_element values (#{id},#{name},#{path});-->
<!--  </select>-->
  <delete id="deleteAttribute" parameterType="integer">
    delete from t_attribute where element_id = #{element_id}
  </delete>

</mapper>