<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blatter.network.mapper.AttributeMapper">

  <select id="findAll" resultType="Attribute">
    SELECT * FROM t_attribute;
  </select>
  <select id="findById" resultType="Attribute">
    SELECT * FROM t_attribute where element_id=#{element_id};
  </select>
  <select id="setAttribute" resultType="Attribute">
    update t_attribute set pressure=#{pressure},pressure_state=#{pressure_state},loads=#{loads},load_state=#{load_state},elevation=#{elevation} where element_id=#{element_id};
  </select>
  <select id="addAttribute" resultType="Attribute">
    insert into t_attribute values (#{element_id},#{pressure},#{pressure_state},#{loads},#{load_state},#{elevation});
  </select>
  <delete id="deleteAttribute" parameterType="integer">
    delete from t_attribute where element_id = #{element_id}
  </delete>

</mapper>