<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blatter.network.mapper.ConnectionMapper">

  <select id="findAll" resultType="Connection">
    SELECT * FROM t_connection;
  </select>
  <select id="findByEid" resultType="Connection">
    SELECT * FROM t_connection where element_id=#{element_id};
  </select>
  <select id="setConnection" resultType="Connection">
    update t_connection set name=#{name},element_id=#{element_id},x=#{x},y=#{y} where id=#{id};
  </select>
  <select id="addConnection" resultType="Connection">
    insert into t_connection values (#{id},#{element_id},#{x},#{y},#{name});
  </select>
  <delete id="deleteConnection" parameterType="integer">
    delete from t_connection where id = #{id}
  </delete>
  <select id="queryById" parameterType="integer" resultType="Connection">
    SELECT * FROM t_connection WHERE id = #{id}
  </select>

</mapper>