<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.blatter.network.mapper.MenuMapper">

  <resultMap id="menuMap" type="Menu">
    <id column="id" property="id"/>
    <result column="title" property="title"/>
    <result column="path" property="path"/>
    <result column="icon" property="icon"/>
    <collection property="submenus" ofType="Submenu">
      <id column="sid" property="id"/>
      <result column="sTitle" property="title"/>
      <result column="sPath" property="path"/>
      <result column="sIcon" property="icon"/>
    </collection>
  </resultMap>

  <select id="findAll" resultMap="menuMap">
    select t_menu.icon, t_menu.id, t_menu.title, t_menu.path, t_submenu.id as sid, t_submenu.title as sTitle, t_submenu.path as sPath, t_submenu.icon as sIcon
    from t_menu
    left join t_submenu
    on t_menu.id = t_submenu.pid
  </select>

</mapper>
