<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blatter.network.mapper.NodeMapper">
  <select id="findAll" resultType="Node">
    SELECT t_base.id,t_base.name,t_base.element_name,t_node.pressure,t_node.loads,t_node.pressure_state,t_node.load_state,t_base.elevation,t_base.x,t_base.y
    FROM t_node,t_base
    WHERE t_base.project_id=#{id} AND t_node.id=t_base.id
  </select>
  <delete id="deleteNode" parameterType="integer">
    delete from t_base where id = #{id}
  </delete>
  <select id="findById" resultType="Node">
    SELECT *
    FROM t_node,t_base
    WHERE t_node.id=#{id} AND t_node.id=t_base.id
  </select>
  <select id="setNode" resultType="Node">
    update t_node set pressure=#{pressure},pressure_state=#{pressure_state},loads=#{loads},load_state=#{load_state} where id=#{id};
  </select>
  <select id="setBase" resultType="Node">
    update t_base set elevation=#{elevation},name=#{name},x=#{x},y=#{y} where id=#{id};
  </select>
  <select id="addNode" resultType="Node">
  </select>
</mapper>
