<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blatter.network.mapper.NodeMapper">
  <select id="findAll" resultType="Node">
    SELECT *
    FROM t_node,t_base
    WHERE t_base.project_id=#{id} AND t_node.id=t_base.id
  </select>
  <delete id="deleteNode" parameterType="integer">
    delete from t_base where id = #{id}
  </delete>
  <select id="findById" resultType="Node">
    SELECT *
    FROM t_node,t_base
    WHERE t_node.id=#{id} AND t_node.id=t_base.id
  </select>
  <select id="findAllBase" resultType="Base">
    SELECT *
    FROM t_base
    WHERE t_base.project_id=#{id}
  </select>
  <select id="setNode" resultType="Node">
    update t_node set pressure=#{pressure},pressure_state=#{pressureState},loads=#{loads},load_state=#{loadState} where id=#{id};
  </select>
  <select id="setBase" resultType="Node">
    update t_base set elevation=#{elevation},name=#{name},x=#{x},y=#{y} where id=#{id};
  </select>
  <insert id="addBase" parameterType="Node" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="elementId != null">
        element_id,
      </if>
      <if test="elementName != null">
        element_name,
      </if>
      <if test="x != null">
        x,
      </if>
      <if test="y != null">
        y,
      </if>
      <if test="elevation != null">
        elevation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="modelId != null">
        #{modelId},
      </if>
      <if test="elementId != null">
        #{elementId},
      </if>
      <if test="elementName != null">
        #{elementName},
      </if>
      <if test="x != null">
        #{x},
      </if>
      <if test="y != null">
        #{y},
      </if>
      <if test="elevation != null">
        #{elevation},
      </if>
    </trim>
  </insert>
  <insert id="addNode" parameterType="Node" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pressure != null">
        pressure,
      </if>
      <if test="loads != null">
        loads,
      </if>
      <if test="pressureState != null">
        pressure_state,
      </if>
      <if test="loadState != null">
        load_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="pressure != null">
        #{pressure},
      </if>
      <if test="loads != null">
        #{loads},
      </if>
      <if test="pressureState != null">
        #{pressureState},
      </if>
      <if test="loadState != null">
        #{loadState},
      </if>
    </trim>
  </insert>
</mapper>
