<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blatter.network.mapper.UserMapper">

  <select id="findAll" resultType="User">
    select uid, username, password, role
    from t_user
  </select>

  <select id="login" parameterType="string" resultType="User">
    select uid, username, password, role
    from t_user
    where username = #{username}
    and password = #{password}
  </select>

  <select id="queryById" parameterType="integer" resultType="User">
    select uid, username, password, role
    from t_user
    where uid = #{uid}
  </select>

  <delete id="deleteById" parameterType="integer">
    delete from t_user
    where uid = #{uid}
  </delete>

  <update id="updateById" parameterType="User">
    update t_user
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="role != null">
        role = #{role},
      </if>
    </set>
    where uid = #{uid}
  </update>

  <insert id="insertUser" parameterType="User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="role != null">
        #{role},
      </if>
    </trim>
  </insert>
</mapper>
